html {
    font-family: Verdana, sans-serif;
    font-weight: lighter;
    background-color: black;
    color: white;
    text-align: center;
}

.header h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 50px;
}

.download, .coming-soon p {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

.guide h1, .coming-soon h1 {
    font-weight: 300;
    font-size: 42px;
}

.guide p {
    font-size: 21px;
    color: gray;
}

.footer p {
    text-align: right;
    color: gray;
    padding-right: 950px;
}
